<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nikvay.saipoojadoctor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission-group.SMS" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/sai_pooja_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/sai_pooja_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.activity.doctor_activity.SessionEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.doctor_activity.CancelAllAptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.BusinessHourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ClassAppointmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.CreateSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.SessionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.SessionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ClassTimeSlotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AdminAddClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AdminClassListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AddServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AddInstructor"
            android:screenOrientation="portrait" />
        <service
            android:name=".firebaseservice.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.admin_doctor_activity.AdminServiceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AddAdminAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.SessionPatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AddDepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AdminAddPatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AllPatientListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AddDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.AdminMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.DoctorAppointmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.DoctorPatientListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.DoctorServiceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.DoctorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.admin_doctor_activity.DoctorSuperAdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PatientDocumentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PhotoAndVideoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.EnquiryReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.EnquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PrescriptionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.AppointmentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PaymentHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ClassDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.AppointmentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.NewAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.NewAddServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.DateTimeSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.AppointmentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.NewClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ServiceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.ServiceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.PatientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.doctor_activity.NewPatientActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebaseservice.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.common_activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.common_activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8231de6c0c7cdedee5183acb38f73cc9512671a5" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/splash_image" />
    </application>

</manifest>